*{
    margin: 0;
}
#ltop{
    float: left;
}
#rtop{
    float: right;
}

header{
    color: white;
    background-color: black;
    height: 80px;
}
header h1{
    text-align: center;
}
header ul{
    list-style-type: none;
    text-align: right;
}
header ul li{
    display: inline;
    padding: 20px;
    color: white;
    
}
header ul li a{
    text-decoration: none;
    color: white;
    padding: 10PX;
}
header li a:hover{
    color: white;
    background-color: red;
}
footer {
    overflow: hidden;
    background-color: black;
    color: white;
    
}

footer .fot1{
    float: left;
    width: 25%;
   
}
footer .fot2{
    float: left;
    width: 25%;
}
footer .fot3{
    float: left;
    width: 25%;
}
footer .fot4{
    float: left;
    width: 25%;
}
footer .fot1 p{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
}   
    
#img6{
    border: 3px solid red;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin-top: 30px;
    margin-left: 100px;
}
 footer .fot2 ul{
    list-style-type: none;
}
footer .fot2 ul li{
    padding: 10px;
    margin-left: 100px;
    
}
footer a{
    text-decoration: none;
    color: white;
    text-align: center;
}
#iconss{
    height: 25px;
    width: 25px;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
     

}
footer .fot3 a{
    display: block;
    text-align: left;
  
}
 .last{
    color: white;
    background-color: gray;
    text-align: center;
  
    
}
/* 
 .container .c1{
    
    float: left;
    width: 50%;
    background-image: url(images/image04.jpg);
    height: 16cm;
    overflow: hidden;
    
    background-position: center;
    background-repeat: no-repeat;
    
}
.c2{
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 22px;
}*/
#img4{
    height: 18cm;
    width: 20cm;
    padding-left: 3cm;
    padding-bottom: 0;
    margin-bottom: 0;
}
.hline{
    border-bottom: 4px solid black;
    width: 50%;
  margin-left: 3.5cm;
    
    
}
 /* .x{
    height: 10cm;
    background-color: green;
 } */
  table{
    margin: 0;
    border: 0;
    padding: 0;
  }
  tr td{
    height: 16cm;
    width: 10cm;
    text-align: center;
  }
  tr td p{
    padding-left: 3cm;
    padding-top: 0;
  }

  tr td button{
    width: 4cm;
    height: 1cm;
    text-align: center;
    margin-left: 3.5cm;
    border-radius: 8px;
    
   
  }

  tr td button:hover{
    border-color: green;
    cursor: help;
  }
  .vline{
    border-left: 2px solid black;
    height: 0.7cm;
    margin-left: 6.7cm;
  }

  #immg{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    padding-left: 10px;
    text-align: center;
  }
  .immmg{
    margin-left: 90px;
  }

  