*{
    margin: 0;
}
#ltop{
    float: left;
}
#rtop{
    float: right;
}

header{
    color: white;
    background-color: black;
    height: 80px;
}
header h1{
    text-align: center;
}
header ul{
    list-style-type: none;
    text-align: right;
}
header ul li{
    display: inline;
    padding: 20px;
    color: white;
    
}
header ul li a{
    text-decoration: none;
    color: white;
    padding: 10PX;
}
header li a:hover{
    color: white;
    background-color: red;
}

footer {
    overflow: hidden;
    background-color: black;
    color: white;
    
}

footer .fot1{
    float: left;
    width: 25%;
}
footer .fot2{
    float: left;
    width: 25%;
}
footer .fot3{
    float: left;
    width: 25%;
}
footer .fot4{
    float: left;
    width: 25%;
}
footer .fot1 p{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
}   
    
#img6{
    border: 3px solid red;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin-top: 30px;
    margin-left: 100px;
}
 footer .fot2 ul{
    list-style-type: none;
}
footer .fot2 ul li{
    padding: 10px;
    margin-left: 100px;
    
}
footer a{
    text-decoration: none;
    color: white;
    text-align: center;
}
#iconss{
    height: 25px;
    width: 25px;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
     

}
footer .fot3 a{
    display: block;
    text-align: left;
  
}
 .last{
    color: white;
    background-color: gray;
    text-align: center; 
}
.back{
    background-image: url(images/image13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
    height: 18cm; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.fom{
    

    background-color: rgba(255,255,255,0.5);
    height: 16cm;
    width: 20cm;
    padding-top: 1cm;
    padding-left: 1cm;
    border: 5px solid green;
    border-radius: 20px;
    
   
} 
.back .fom .lin{
    border-bottom: 3px solid white;
    width: 30%;
}  
#but1{
    color: black;
    background-color: white;
    margin-left: 8cm;
    padding: 5px;
    border: 4px solid red ;
    border-radius: 4px;
   
}
#img4{
 
    height: 16cm;
}
